@using CollectionsOnline.WebSite.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Transformers.CollectionViewTransformerResult>
@{
    Layout = "Layout.cshtml";
}
<div class="abouthero @Model.Collection.Category.ToClass()">   
    <span class="collcategorybackground"></span>
</div>
<div id="collarea" class="container">
    <span class="collcategory">@Model.Collection.Category</span>
    <div id="maincontent" class="colldesc" role="main">
        <h1>@Model.Collection.DisplayTitle</h1>
        <p>@Html.ConvertNewlines(Model.Collection.CollectionSummary)</p>
        <h2>Significance</h2>
        @Html.Raw(Model.Collection.Significance)  
    </div>
    <div class="sidecolumn">
        @if (!string.IsNullOrWhiteSpace(Model.Collection.CollectingArea))
        {
            <div class="seeallcontainer">
                <a href="/search?collectingarea=@HttpUtility.UrlEncode(Model.Collection.CollectingArea)" class="seeall">See all items in this collection</a>
            </div>
        }
    </div>
    <div class="sidecolumn">
        @Html.Partial("SocialLinks")
    </div>
    <div class="sidecolumn" role="complementary">
        <div class="socialcite">
                <div class="cite">
                <h4>Cite this page</h4>
                <p>@Html.RenderCitation(Model.Collection)</p>
                <h4>Rights</h4>
                <p>
                    Text on this page is licensed as
                    <a class="icon" href="https://creativecommons.org/licenses/by/4.0/">
                        <span class="icon-cc" aria-hidden="true"></span>
                        <span class="icon-label-hidden">CC</span>
                    </a>
                    <a class="icon" href="https://creativecommons.org/licenses/by/4.0/">
                        <span class="icon-by" aria-hidden="true"></span>
                        <span class="icon-label-hidden">BY</span>
                    </a>
                </p>
                @if (Model.Collection.Curators.Any())
                {
                    <h4>Curators and Collection Managers</h4>
                    <div class="authors">
                        @foreach (var curator in Model.Collection.Curators)
                        {
                            <div class="author">
                                @if (curator.ProfileImage != null)
                                {
                                    <img src="@curator.ProfileImage.Thumbnail.Uri" alt="@curator.ProfileImage.AlternativeText" />
                                }
                                <span class="authorname">@curator.FullName</span>
                                <span class="authorbio">@curator.Biography</span>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.SubCollectionArticles.Any())
{   <div id="subcoll">
        <div class="container">
            <div class="subcoll">
                <h2>Some key sub-collections</h2>
                @foreach (var subCollectionArticle in Model.SubCollectionArticles)
                {
                    @Html.Partial("emutile", subCollectionArticle)
                }
            </div>
        </div>
    </div>
}
@if (Model.FavoriteItems.Any())
{
    <div id="favorites">
        <div class="container">
            <div class="favorites">
                <h2>Our Favourite Items</h2>
                @foreach (var favoriteItem in Model.FavoriteItems)
                {
                    @Html.Partial("emutile", favoriteItem)
                }
                @foreach (var favoriteSpecimens in Model.FavoriteSpecimens)
                {
                    @Html.Partial("emutile", favoriteSpecimens)
                }
            </div>
        </div>
    </div>
}