@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.EmuAggregateRootViewModel>
<div class="tile full">
    <a href="/@Model.Id">
        <span class="tileimages">
            @if (string.IsNullOrWhiteSpace(Model.ThumbnailUri))
            {
                <span class="no-image">
                    <span class="no-image-label">No Image</span>
                </span>
            }
            else
            {
                <img src="@Model.ThumbnailUri" />
            }
        </span>
            <span class="title">
                <span class="tile-tag @Model.Type.ToLower()" aria-hidden="true">
                    <span class="count-wrapper">
                        <span class="type">@Model.Type.ToTitleCase()</span>
                    </span>
                </span>
                @if (!string.IsNullOrWhiteSpace(Model.SubDisplayTitle))
                {<span class="regnum"> @Model.SubDisplayTitle </span>}
                @Html.Raw(Model.DisplayTitle)

            </span>

</a>
</div>