<a class="skipto" href="#maincontent">Skip to main content</a> 
<header role="banner">
    <a class="brand" href="/">Museums Victoria <span>Collections</span></a>
    <nav role="navigation">
        <a @(RenderContext.Context.ResolvedRoute.Description.Name == "collection-index" ? Html.Raw("class=\"active\"") : null) href="/collections">Our collections</a>
        <a @(RenderContext.Context.ResolvedRoute.Description.Name == "developers-index" ? Html.Raw("class=\"active\"") : null) href="/developers">Our API</a>
        <a @(RenderContext.Context.ResolvedRoute.Description.Name == "about-index" ? Html.Raw("class=\"active\"") : null) href="/about">About</a>
        @if (RenderContext.Context.ResolvedRoute.Description.Name != "home-index")
        {
            <a class="button-search @(RenderContext.Context.ResolvedRoute.Description.Name == "search-index" ? "search" : null)" role="button" tabindex="0">
                <span id="search-button-icon" aria-hidden="true" class="icon-search-header"></span>
                <span class="icon-label-hidden">Expand search box</span>
                <span class="search-text">Search</span>
            </a>
        }
    </nav>
    <div id="cultural-message" @(RenderContext.Context.Request.Cookies.ContainsKey("culturalMessage") && RenderContext.Context.Request.Cookies["culturalMessage"] == "true" ? Html.Raw("class=\"disabled\"") : null)>
        <div class="inner">
            <h3>CULTURAL SENSITIVITY MESSAGE – Please read</h3>
            <p><strong>First Peoples</strong> visitors please be aware that this website contains images, voices or names of deceased persons.</p>
            <h4>Language</h4>
            <p>Certain records contain language or include depictions that are offensive both culturally and generally.</p>
            <p>These records are not the current views of Museums Victoria and are not appropriate.</p>
            <h4>Feedback</h4>
            <p>Whilst every effort is made to ensure the most accurate information is presented, some content may contain errors. We encourage and welcome advice to correct and enhance information on this site.</p>
            <button type="button" aria-label="Close"><span>I understand</span></button>
        </div>
    </div>
    @if (RenderContext.Context.ResolvedRoute.Description.Name != "home-index")
    {
        <div id="search-bar" @(RenderContext.Context.ResolvedRoute.Description.Name == "search-index" ? Html.Raw("class=\"search active\"") : null)>
            <form method="GET" action="/search" role="search">
                @if (RenderContext.Context.ResolvedRoute.Description.Name == "search-index")
                {
                    <input type="text" name="query" placeholder="enter new search term or add to existing search ..." />
                }
                else
                {
                    <input type="text" name="query" placeholder="enter search term ..." />
                }
                <button class="search" type="submit">
                    <span class="icon-search" aria-hidden="true"></span>
                    <span class="icon-label-hidden">Search</span>
                </button>
                @if (RenderContext.Context.ResolvedRoute.Description.Name == "search-index")
                {
                    <button class="search-add" type="button">
                        <span class="title">Add</span>
                        <span class="icon-search-add-search" aria-hidden="true"></span>
                        <span class="icon-search-add-plus" aria-hidden="true"></span>
                        <span class="icon-label-hidden">Add search term</span>
                    </button>
                }
            </form>
        </div>
    }
</header>