@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.SearchIndexViewModel>
<header>
    <a class="brand" href="/">Museum Victoria <span>Collections</span></a>
    <nav>
        <a @((RenderContext.Context.ResolvedRoute.Description.Name == "collection-index") ? Html.Raw("class=\"active\"") : null) href="/collections">Our collections</a>
        <a @((RenderContext.Context.ResolvedRoute.Description.Name == "developers-index") ? Html.Raw("class=\"active\"") : null) href="/developers">Our API</a>        
        @if (@RenderContext.Context.ResolvedRoute.Description.Name != "home-index")
        {
            <a href="#" class="button-search @((RenderContext.Context.ResolvedRoute.Description.Name == "search-index") ? "search" : null)">
                <span id="search-button-icon" aria-hidden="true" class="icon-search-header"></span>
                <span class="search-text">Search</span>
            </a>
        }
    </nav>
    @if (RenderContext.Context.ResolvedRoute.Description.Name != "home-index")
    {
        <div id="search-bar" @((RenderContext.Context.ResolvedRoute.Description.Name == "search-index") ? Html.Raw("class=\"search active\"") : null)>
            <form method="GET" action="/search" role="form">
                <input type="text" name="query" placeholder="enter search term ..." @((Model != null) ? Html.Raw(string.Format("value=\"{0}\"", Model.Query)) : null)/>
                <button class="search" type="submit">
                    <span class="icon-search" aria-hidden="true"></span>
                    <span class="icon-label-hidden"></span>
                </button>
            </form>
        </div>
    }
</header>