@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.HomeIndexViewModel>
@{
    Layout = "Layout.cshtml";
}
<div id="hero" style="background-image: url('@Model.HomeHeroUri'); background-repeat: no-repeat; background-position: center;">
    <div class="search-area">
        <form method="GET" action="/search" role="search">
            <input type="text" name="query" placeholder="Enter a search term or leave blank to browse all records ..." />
            <button class="search" type="submit">
                <span class="icon-search" aria-hidden="true"></span>
                <span class="icon-label-hidden">Search</span>
            </button>
        </form>
    </div>
</div>
<div id="featured-explore">
    <div class="container">
        <h2>Refugee Week 14-20 June 2020</h2>
        <p>Acknowledge Refugee Week by exploring over 800 collection items which tell the stories of refugees, their advocates and industry workers.</p>
        <div class="tile full">
            <a href="/articles/16925">
                <span class="tileimages">
                    <img src="/content/media/48/535948-thumbnail.jpg" alt="Booklet - 'Migration and the Refugee', Australian Army Education Service, 12 Mar 1945" />
                </span>
                <span class="title">
                    <span class="tile-tag article" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">article</span>
                        </span>
                    </span>
                    <span class="regnum"></span>
                    <span class="heading">Refugee Collections at Museums Victoria</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/articles/8114">
                <span class="tileimages">
                    <img src="/content/media/1/437151-thumbnail.jpg" alt="Dimka Stojkovic & Sister Slavka Walking, Sofia, Bulgaria, late 1930s" />
                </span>
                <span class="title">
                    <span class="tile-tag article" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">article</span>
                        </span>
                    </span>
                    <span class="regnum"></span>
                    <span class="heading">Dimka Stojkovic, Bulgarian Refugee, 1948</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/articles/16859">
                <span class="tileimages">
                    <img src="/content/media/4/169404-thumbnail.jpg" alt="Painting of cloaked women." />
                </span>
                <span class="title">
                    <span class="tile-tag article" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">article</span>
                        </span>
                    </span>
                    <span class="regnum"></span>
                    <span class="heading">Hasan Bagdas - Kurdish Refugee, 1973</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/articles/16584">
                <span class="tileimages">
                    <img src="/content/media/39/1167089-thumbnail.jpg" alt="Digital Photograph - Aung Saw Lim (Man Man) Self Portrait in Cell, Manus Island, circa 2017" />
                </span>
                <span class="title">
                    <span class="tile-tag article" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">article</span>
                        </span>
                    </span>
                    <span class="regnum"></span>
                    <span class="heading">Aung Saw Lim (Man Man) - Nauru and Manus Island Detainee, 2010-2018</span>
                </span>
            </a>
        </div>
    </div>
</div>
<div id="home-explore" role="main">
    <div class="container">
        <h1 id="maincontent">Explore our collection</h1>
        <p>Explore a wealth of collections and research about natural sciences, history, technology and Indigenous cultures from Museums Victoria in Australia.</p>
        <div class="tile home">
            <a href="/search?recordtype=article">
                <span class="wrapper">
                    <img src="/content/img/img-home-article.jpg" alt="Closeup of old typewritter keys" />
                    <span class="tile-tag article">
                        <span class="count-wrapper">
                            <span class="type">Articles</span>
                            <span class="count">@Model.ArticleCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about people, places, events, and our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=item">
                <span class="wrapper">
                    <img src="/content/img/img-home-item.jpg" alt="Brass pocket compass sundial" />
                    <span class="tile-tag item">
                        <span class="count-wrapper">
                            <span class="type">Items</span>
                            <span class="count">@Model.ItemCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Things made and used by people</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=specimen">
                <span class="wrapper">
                    <img src="/content/img/img-home-specimen.jpg" alt="Closeup shot of a butterfly" />
                    <span class="tile-tag specimen">
                        <span class="count-wrapper">
                            <span class="type">Specimens</span>
                            <span class="count">@Model.SpecimenCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Animals, fossils, and rocks in our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=species">
                <span class="wrapper">
                    <img src="/content/img/img-home-species.jpg" alt="Closeup of blue coloured bird" />
                    <span class="tile-tag species">
                        <span class="count-wrapper">
                            <span class="type">Species</span>
                            <span class="count">@Model.SpeciesCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about some animals you might see in the wild</span>
            </a>
        </div>
    </div>
</div>
<div id="venues-explore">
    <div class="container">
        <h2>Explore the collection on display</h2>
        <div class="venue-tile">
            <a href="/search?displaylocation=melbourne+museum">
                <img src="/content/img/img-home-melbourne-museum.jpg" alt="Closeup of a taxidermied owl" />
                <span class="label">Melbourne Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=scienceworks">
                <img src="/content/img/img-home-scienceworks.jpg" alt="Closeup of a robot" />
                <span class="label">Scienceworks</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=immigration+museum">
                <img src="/content/img/img-home-immigration-museum.jpg" alt="Illustrated impression of a ship on water" />
                <span class="label">Immigration Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=bunjilaka">
                <img src="/content/img/img-home-bunjilaka.jpg" alt="Moving sculpture lit up by stage lights" />
                <span class="label">Bunjilaka Aboriginal Cultural Centre</span>
            </a>
        </div>
    </div>
</div>
<div id="recent-explore">
    <div class="container">
        <h2>Recently modified</h2>
        @foreach (var recentResults in Model.RecentResults)
        {
            @Html.Partial("RecordTile", recentResults)
        }
    </div>
</div>