@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.HomeIndexViewModel>
@{
    Layout = "Layout.cshtml";
}
<div id="hero" style="background-image: url('@Model.HomeHeroUri'); background-repeat: no-repeat; background-position: center;">
    <div class="search-area">
        <form method="GET" action="/search" role="search">
            <input type="text" name="query" placeholder="Enter a search term or leave blank to browse all records ..."/>
            <button class="search" type="submit">
                <span class="icon-search" aria-hidden="true"></span>
                <span class="icon-label-hidden">Search</span>
            </button>
        </form>
    </div>
</div>
<div id="featured-explore">
    <div class="container">
        <h2>Inside Out</h2>
        <p>Extraordinary objects reimagined with theatrical beauty. Melbourne Museum 23 December 2017 – 11 Februrary 2018</p>
        <div class="tile full">
            <a href="/items/226064">
                <span class="tileimages">
                    <img src="/content/img/img-featured-1069323.jpg" alt="Carved wooden walking stick. Carved patterns and head on top. Face detail." />
                </span>
                <span class="title">
                    <span class="tile-tag item" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">item</span>
                        </span>
                    </span>
                    <span class="regnum">X 80480</span>
                    <span class="heading">Walking stick, Coranderrk, Port Phillip, Victoria, Australia</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/specimens/2079008">
                <span class="tileimages">
                    <img src="/content/img/img-featured-1040604.jpg" alt="Head and shoulders of taxidermied polar bear." />
                </span>
                <span class="title">
                    <span class="tile-tag specimen" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">specimen</span>
                        </span>
                    </span>
                    <span class="regnum">C 38090</span>
                    <span class="heading">Taxidermy Mount - Polar Bear <em>Ursus maritimus</em></span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/specimens/2227339">
                <span class="tileimages">
                    <img src="/content/img/img-featured-1040641.jpg" alt="Quartz, Australia, Victoria, Marbarknott mine, near Bonnie Doon." />
                </span>
                <span class="title">
                    <span class="tile-tag specimen" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">specimen</span>
                        </span>
                    </span>
                    <span class="regnum">M 53997</span>
                    <span class="heading">Quartz</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/items/402812">
                <span class="tileimages">
                    <img src="/content/img/img-featured-1039806.jpg" alt="Cream holden car, front view of polished chrome grille and bumper." />
                </span>
                <span class="title">
                    <span class="tile-tag item" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">item</span>
                        </span>
                    </span>
                    <span class="regnum">ST 26767</span>
                    <span class="heading">Motor Car - Holden 48-215, FX, 1950</span>
                </span>
            </a>
        </div>
    </div>
</div>
<div id="home-explore" role="main">
    <div class="container">
        <h1 id="maincontent">Explore our collection</h1>
        <p>Explore a wealth of collections and research about natural sciences, history, technology and Indigenous cultures from Museums Victoria in Australia. </p>
        <div class="tile home">
            <a href="/search?recordtype=article">
                <span class="wrapper">
                    <img src="/content/img/img-home-article.jpg" alt="Closeup of old typewritter keys" />
                    <span class="tile-tag article">
                        <span class="count-wrapper">
                            <span class="type">Articles</span>
                            <span class="count">@Model.ArticleCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about people, places, events, and our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=item">
                <span class="wrapper">
                    <img src="/content/img/img-home-item.jpg" alt="Brass pocket compass sundial" />
                    <span class="tile-tag item">
                        <span class="count-wrapper">
                            <span class="type">Items</span>
                            <span class="count">@Model.ItemCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Things made and used by people</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=specimen">
                <span class="wrapper">
                    <img src="/content/img/img-home-specimen.jpg" alt="Closeup shot of a butterfly" />
                    <span class="tile-tag specimen">
                        <span class="count-wrapper">
                            <span class="type">Specimens</span>
                            <span class="count">@Model.SpecimenCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Animals, fossils, and rocks in our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=species">
                <span class="wrapper">
                    <img src="/content/img/img-home-species.jpg" alt="Closeup of blue coloured bird" />
                    <span class="tile-tag species">
                        <span class="count-wrapper">
                            <span class="type">Species</span>
                            <span class="count">@Model.SpeciesCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about some animals you might see in the wild</span>
            </a>
        </div>
    </div>
</div>
<div id="venues-explore">
    <div class="container">
        <h2>Explore the collection on display</h2>
        <div class="venue-tile">
            <a href="/search?displaylocation=melbourne+museum">
                <img src="/content/img/img-home-melbourne-museum.jpg" alt="Closeup of a taxidermied owl" />
                <span class="label">Melbourne Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=scienceworks">
                <img src="/content/img/img-home-scienceworks.jpg" alt="Closeup of a robot" />
                <span class="label">Scienceworks</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=immigration+museum">
                <img src="/content/img/img-home-immigration-museum.jpg" alt="Illustrated impression of a ship on water" />
                <span class="label">Immigration Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=bunjilaka">
                <img src="/content/img/img-home-bunjilaka.jpg" alt="Moving sculpture lit up by stage lights" />
                <span class="label">Bunjilaka Aboriginal Cultural Centre</span>
            </a>
        </div>
    </div>
</div>
<div id="recent-explore">
    <div class="container">
        <h2>Recently modified</h2>
        @foreach (var recentResults in Model.RecentResults)
        {
            @Html.Partial("RecordTile", recentResults)
        }
    </div>
</div>