@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.HomeIndexViewModel>
@{
    Layout = "Layout.cshtml";
}
<div id="hero" style="background-image: url('@Model.HomeHeroUri'); background-repeat: no-repeat; background-position:center;">
    <div class="search-area">
        <form method="GET" action="/search" role="search">
            <input type="text" name="query" placeholder="Enter a search term or leave blank to browse all records ..." />
            <button class="search" type="submit">
                <span class="icon-search" aria-hidden="true"></span>
                <span class="icon-label-hidden">Search</span>
            </button>
        </form>
    </div>
</div>
<div id="home-explore" role="main">
    <div class="container">
        <h1 id="maincontent">Explore our collection</h1>
        <p>Explore a wealth of collections and research about natural sciences, history, technology and Indigenous cultures from Museum Victoria in Australia. </p>
        <div class="tile home">
            <a href="/search?recordtype=article">
                <span class="wrapper">
                    <img src="/content/img/img-home-article.jpg" alt="Closeup of old typewritter keys" />
                    <span class="tile-tag article">
                        <span class="count-wrapper">
                            <span class="type">Articles</span>
                            <span class="count">@Model.ArticleCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about people, places, events, and our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=item">
                <span class="wrapper">
                    <img src="/content/img/img-home-item.jpg" alt="Brass pocket compass sundial" />
                    <span class="tile-tag item">
                        <span class="count-wrapper">
                            <span class="type">Items</span>
                            <span class="count">@Model.ItemCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Things made and used by people</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=specimen">
                <span class="wrapper">
                    <img src="/content/img/img-home-specimen.jpg" alt="Closeup shot of a butterfly" />
                    <span class="tile-tag specimen">
                        <span class="count-wrapper">
                            <span class="type">Specimens</span>
                            <span class="count">@Model.SpecimenCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Animals, fossils, and rocks in our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=species">
                <span class="wrapper">
                    <img src="/content/img/img-home-species.jpg" alt="Closeup of blue coloured bird" />
                    <span class="tile-tag species">
                        <span class="count-wrapper">
                            <span class="type">Species</span>
                            <span class="count">@Model.SpeciesCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about some animals you might see in the wild</span>
            </a>
        </div>
    </div>
</div>
<div id="venues-explore">
    <div class="container">
        <h2>Explore the collection on display</h2>
        <div class="venue-tile">
            <a href="/search?displaylocation=melbourne+museum">
                <img src="/content/img/img-home-melbourne-museum.jpg" alt="Closeup of a taxidermied owl" />
                <span class="label">Melbourne Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=scienceworks">
                <img src="/content/img/img-home-scienceworks.jpg" alt="Closeup of a robot" />
                <span class="label">Scienceworks</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=immigration+museum">
                <img src="/content/img/img-home-immigration-museum.jpg" alt="Illustrated impression of a ship on water" />
                <span class="label">Immigration Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=bunjilaka">
                <img src="/content/img/img-home-bunjilaka.jpg" alt="Moving sculpture lit up by stage lights" />
                <span class="label">Bunjilaka Aboriginal Cultural Centre</span>
            </a>
        </div>
    </div>
</div>
<div id="xmas-explore">
    <div class="container">
        <h2>Season's Greetings from Museum Victoria</h2>
        <div class="xmas-tile">
            <a href="/specimens/645908">
                <img src="/content/img/img-xmas-1.jpg" alt="Dorsal view of dry seastar specimen" />
            </a>
        </div>
        <div class="xmas-tile">
            <a href="/specimens/581290">
                <img src="/content/img/img-xmas-2.jpg" alt="Three prawns" />
                <span class="holder">
                    <span class="message">Sizzling barbeques</span>
                    <span class="title">New Guinea Prawns, also known as Northern Velvet Shrimps, Metapenaeopsis novaeguineae</span>
                </span>
            </a>
        </div>
        <div class="xmas-tile">
            <a href="/items/289760">
                <img src="/content/img/img-xmas-3.jpg" alt="Loud shirt" />
                <span class="holder">
                    <span class="message">Loud shirts</span>
                    <span class="title">Mambo ‘Refugees’ shirt designed by Gerry Wedd as part of the Mambo ‘Loud Shirt’ range, circa 2003</span>
                </span>
            </a>
        </div>
        <div class="xmas-tile">
            <a href="/items/1733597">
                <img src="/content/img/img-xmas-4.jpg" alt="Small cake fit for a dolls house" />
                <span class="holder">
                    <span class="message">Too much cake</span>
                    <span class="title">Dolls’ House Cake, part of a fully-furnished Georgian style country doll’s house called Pendle Hall, circa 1940’s</span>
                </span>
            </a>
        </div>
        <div class="xmas-tile">
            <a href="/items/827710">
                <img src="/content/img/img-xmas-5.jpg" alt="Small plastic camera" />
                <span class="holder">
                    <span class="message">Happy snaps</span>
                    <span class="title">Sunpet 826 cartridge film camera branded with ‘James Bond 007’ insignia, made in Hong Kong, circa 1982</span>
                </span>
            </a>
        </div>
        <div class="xmas-tile">
            <a href="/items/1557436">
                <img src="/content/img/img-xmas-6.jpg" alt="Knitted yellow patterned socks" />
                <span class="holder">
                    <span class="message">The best presents</span>
                    <span class="title">Pair of woollen knitted socks with traditional Latvian patterns from the Alsunga Region, Melbourne, circa 1970’s</span>
                </span>
            </a>
        </div>
    </div>
</div>
<div id="recent-explore">
    <div class="container">
        <h2>Recently modified</h2>
        @foreach (var recentResults in Model.RecentResults)
        {
            @Html.Partial("emutile", recentResults)
        }
    </div>
</div>