@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.HomeIndexViewModel>
@{
    Layout = "Layout.cshtml";
}
<div id="hero" style="background-image: url('@Model.HomeHeroUri'); background-repeat: no-repeat; background-position: center;">
    <div class="search-area">
        <form method="GET" action="/search" role="search">
            <input type="text" name="query" placeholder="Enter a search term or leave blank to browse all records ..." />
            <button class="search" type="submit">
                <span class="icon-search" aria-hidden="true"></span>
                <span class="icon-label-hidden">Search</span>
            </button>
        </form>
    </div>
</div>
<div id="featured-explore">
    <div class="container">
        <h2>Then the guns fell silent: the Centenary of the Armistice</h2>
        <p>Exactly 100 years ago, on 11 November 1918, the guns of World War I fell silent. Explore our collections to learn more.</p>
        <div class="tile full">
            <a href="/articles/16587">
                <span class="tileimages">
                    <img src="/content/media/3/403303-thumbnail.jpg" alt="Crowded street scene of people around a statue." />
                </span>
                <span class="title">
                    <span class="tile-tag article" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">article</span>
                        </span>
                    </span>
                    <span class="heading">Armistice Day, World War I, 11 Nov 1918</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/items/768991">
                <span class="tileimages">
                    <img src="/content/media/44/153744-thumbnail.jpg" alt="Negative - Copy" />
                </span>
                <span class="title">
                    <span class="tile-tag item" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">item</span>
                        </span>
                    </span>
                    <span class="regnum">MM 1409</span>
                    <span class="heading">Children's Armistice Day Parade, Duntroon, Australian Capital Territory, Nov 1918</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/items/771371">
                <span class="tileimages">
                    <img src="/content/media/3/159503-thumbnail.jpg" alt="COLAC TRADERS ASSOCIATION TIN CAN BAND. PEACE DAY 12-11-18." />
                </span>
                <span class="title">
                    <span class="tile-tag item" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">item</span>
                        </span>
                    </span>
                    <span class="regnum">MM 7155</span>
                    <span class="heading">Peace Day, Colac, Victoria, Nov 1918</span>
                </span>
            </a>
        </div>
        <div class="tile full">
            <a href="/items/2005113">
                <span class="tileimages">
                    <img src="/content/media/30/698030-thumbnail.jpg" alt="Telegram - Armistice, World War I, Portland, Victoria, Nov 1918" />
                </span>
                <span class="title">
                    <span class="tile-tag item" aria-hidden="true">
                        <span class="count-wrapper">
                            <span class="type">item</span>
                        </span>
                    </span>
                    <span class="regnum">HT 34787</span>
                    <span class="heading">Telegram - Armistice, World War I, Portland, Victoria, Nov 1918</span>
                </span>
            </a>
        </div>
    </div>
</div>
<div id="home-explore" role="main">
    <div class="container">
        <h1 id="maincontent">Explore our collection</h1>
        <p>Explore a wealth of collections and research about natural sciences, history, technology and Indigenous cultures from Museums Victoria in Australia.</p>
        <div class="tile home">
            <a href="/search?recordtype=article">
                <span class="wrapper">
                    <img src="/content/img/img-home-article.jpg" alt="Closeup of old typewritter keys" />
                    <span class="tile-tag article">
                        <span class="count-wrapper">
                            <span class="type">Articles</span>
                            <span class="count">@Model.ArticleCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about people, places, events, and our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=item">
                <span class="wrapper">
                    <img src="/content/img/img-home-item.jpg" alt="Brass pocket compass sundial" />
                    <span class="tile-tag item">
                        <span class="count-wrapper">
                            <span class="type">Items</span>
                            <span class="count">@Model.ItemCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Things made and used by people</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=specimen">
                <span class="wrapper">
                    <img src="/content/img/img-home-specimen.jpg" alt="Closeup shot of a butterfly" />
                    <span class="tile-tag specimen">
                        <span class="count-wrapper">
                            <span class="type">Specimens</span>
                            <span class="count">@Model.SpecimenCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Animals, fossils, and rocks in our collections</span>
            </a>
        </div>
        <div class="tile home">
            <a href="/search?recordtype=species">
                <span class="wrapper">
                    <img src="/content/img/img-home-species.jpg" alt="Closeup of blue coloured bird" />
                    <span class="tile-tag species">
                        <span class="count-wrapper">
                            <span class="type">Species</span>
                            <span class="count">@Model.SpeciesCount.ToString("N0")</span>
                        </span>
                    </span>
                </span>
                <span class="desc">Read about some animals you might see in the wild</span>
            </a>
        </div>
    </div>
</div>
<div id="venues-explore">
    <div class="container">
        <h2>Explore the collection on display</h2>
        <div class="venue-tile">
            <a href="/search?displaylocation=melbourne+museum">
                <img src="/content/img/img-home-melbourne-museum.jpg" alt="Closeup of a taxidermied owl" />
                <span class="label">Melbourne Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=scienceworks">
                <img src="/content/img/img-home-scienceworks.jpg" alt="Closeup of a robot" />
                <span class="label">Scienceworks</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=immigration+museum">
                <img src="/content/img/img-home-immigration-museum.jpg" alt="Illustrated impression of a ship on water" />
                <span class="label">Immigration Museum</span>
            </a>
        </div>
        <div class="venue-tile">
            <a href="/search?displaylocation=bunjilaka">
                <img src="/content/img/img-home-bunjilaka.jpg" alt="Moving sculpture lit up by stage lights" />
                <span class="label">Bunjilaka Aboriginal Cultural Centre</span>
            </a>
        </div>
    </div>
</div>
<div id="recent-explore">
    <div class="container">
        <h2>Recently modified</h2>
        @foreach (var recentResults in Model.RecentResults)
        {
            @Html.Partial("RecordTile", recentResults)
        }
    </div>
</div>