@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.SearchViewModel>
@{
    Layout = "layout.cshtml";
}
<div id="search">
    <aside id="search-filter">
        <a class="button-filter">
            <span class="icon-filter" aria-hidden="true"></span>
            Filter by
        </a>
        <div class="term-search">
            <h4>Location</h4>
            <input type="text" id="location-term" placeholder="Enter location">
            <h4>Keyword</h4>
            <input type="text" id="keyword-term" placeholder="Enter keyword">
        </div>
        <div class="facets">
            @foreach (var facet in Model.Facets)
            {
                <h4>@facet.Name</h4>
                foreach (var value in facet.Values)
                {
                    if (value.Active)
                    {
                        <a href="@value.Url" class="active">@value.Name <span class="badge">(@value.Hits)</span></a>
                    }
                    else
                    {
                        <a href="@value.Url">@value.Name <span class="badge">(@value.Hits)</span></a>
                    }
                }
            }
        </div>
    </aside>
    <div class="results">
        @Html.Partial("searchbar", Model)
        @if (Model.ActiveFacets.Any() || Model.ActiveTerms.Any())
        {
            <div class="active-facets">
                @foreach (var activeFacet in Model.ActiveFacets)
                {
                    <a href="@activeFacet.UrlToRemove">
                        <span>@activeFacet.Facet :</span>
                        @activeFacet.Name
                        <span class="icon-close" aria-hidden="true"></span>
                        <span class="icon-label-hidden">Remove facet</span>
                    </a>
                }
                @foreach (var activeTerm in Model.ActiveTerms)
                {
                    <a href="@activeTerm.UrlToRemove">
                        <span>@activeTerm.Term :</span>
                        @activeTerm.Name
                        <span class="icon-close" aria-hidden="true"></span>
                        <span class="icon-label-hidden">Remove facet</span>
                    </a>
                }
            </div>
        }
        @if (Model.Suggestions.Any())
        {
            <div class="suggestions">
                <span>Did you mean?</span>
                @foreach (var suggestion in Model.Suggestions)
                {
                    <a href="@suggestion.Url">@suggestion.Suggestion</a>
                }
            </div>
        }
        <div class="pagination">
            <div class="numbers">
                <div class="counts">@Model.TotalResults.ToString("N0") results</div>
                <div class="pages">
                    <a href="@Model.PreviousPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.PreviousPageUrl) ? "disabled" : "")">
                        <span class="icon-left-arrow"></span>
                        <span class="icon-label-hidden">Previous page</span>
                    </a>
                    <input type="text" pattern="\d*" name="Page" value="@Model.Page" /> of <span class="total">@Model.TotalPages.ToString("N0")</span>
                    <a href="@Model.NextPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.NextPageUrl) ? "disabled" : "")">
                        <span class="icon-label-hidden">Next page</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>
            <div class="options">
                <div class="order">
                    Order by
                    <a href="@Model.RelevanceSortButton.Url" class="button @(Model.RelevanceSortButton.Active ? "active" : "")">@Model.RelevanceSortButton.Name</a>
                    <a href="@Model.QualitySortButton.Url" class="button @(Model.QualitySortButton.Active ? "active" : "")">@Model.QualitySortButton.Name</a>
                </div>
                <div class="perpage">
                    Results per page
                    <a href="@Model.DefaultPerPageButton.Url" class="button @(Model.DefaultPerPageButton.Active ? "active" : "")">@Model.DefaultPerPageButton.Name</a>
                    <a href="@Model.MaxPerPageButton.Url" class="button @(Model.MaxPerPageButton.Active ? "active" : "")">@Model.MaxPerPageButton.Name</a>
                </div>
            </div>
        </div>
        <div class="results-area">
            @foreach (var result in Model.Results)
            {
                @Html.Partial("emutile", result)
            }
        </div>
        <div class="pagination">
            <div class="numbers">
                <div class="counts">@Model.TotalResults.ToString("N0") results</div>
                <div class="pages">
                    <a href="@Model.PreviousPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.PreviousPageUrl) ? "disabled" : "")">
                        <span class="icon-left-arrow"></span>
                        <span class="icon-label-hidden">Previous page</span>
                    </a>
                    <input type="text" pattern="\d*" name="Page" value="@Model.Page" /> of <span class="total">@Model.TotalPages</span>
                    <a href="@Model.NextPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.NextPageUrl) ? "disabled" : "")">
                        <span class="icon-label-hidden">Next page</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>