@using CollectionsOnline.Core.Config
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.SearchIndexViewModel>
@{
    Layout = "Layout.cshtml";
}
<div id="search">
    <aside id="search-filter" >
        <a class="button-filter" tabindex="0">
            <span class="icon-filter-close" aria-hidden="true"></span>
            Filter by
        </a>
        <div class="facets">
            @foreach (var facet in Model.Facets)
            {
                <div class="facetgroup@((facet.Values.Any(x => x.Active)) ? null : " collapsed")">
                    <div class="facetheader">
                        <h4 tabindex="0">@facet.Name</h4>
                    </div>
                    <div class="facetitems">
                    @foreach (var value in facet.Values)
                    {
                        if (value.Active)
                        {
                            <a href="@value.Url" class="active @((!string.IsNullOrWhiteSpace(value.Class)) ? value.Class : null)">@value.Name (@value.Hits)
                                <span class="icon-close" aria-hidden="true"></span>
                                <span class="icon-label-hidden">Remove facet</span>
                            </a>
                        }
                        else
                        {
                            <a href="@value.Url" @((!string.IsNullOrWhiteSpace(value.Class)) ? Html.Raw(string.Format("class=\"{0}\"", value.Class)) : null)>@value.Name
                                <span class="badge">(@value.Hits)</span>
                            </a>
                        }
                    }
                    </div>
                </div>
            }
        </div>
    </aside>
    <div class="results">    
        @if (!Model.Results.Any())
        {
            <div class="banner">
                <img class="" alt="" src="content/img/img-search-noresults.jpg">
            </div>
        }    
        @if (Model.ActiveFacets.Any() || Model.ActiveTerms.Any())
        {
            <div class="active-facets">
                @foreach (var activeFacet in Model.ActiveFacets)
                {
                    <a href="@activeFacet.UrlToRemove">
                        <span>@activeFacet.Facet :</span>
                        @activeFacet.Name
                        <span class="icon-close" aria-hidden="true"></span>
                        <span class="icon-label-hidden">Remove facet</span>
                    </a>
                }
                @foreach (var activeTerm in Model.ActiveTerms)
                {
                    <a href="@activeTerm.UrlToRemove">
                        <span>@activeTerm.Term :</span>
                        @activeTerm.Name
                        <span class="icon-close" aria-hidden="true"></span>
                        <span class="icon-label-hidden">Remove facet</span>
                    </a>
                }
            </div>
        }
        @if (Model.Suggestions.Any())
        {
            <div class="suggestions">
                <span>Did you mean?</span>
                @foreach (var suggestion in Model.Suggestions)
                {
                    <a href="@suggestion.Url">@suggestion.Suggestion</a>
                }
            </div>
        }        
        @if (Model.Results.Any())
        { 
            <div class="pagination">                
                <div class="numbers">
                    <div class="counts">@Model.TotalResults.ToString("N0") results</div>
                    <div class="pages">
                        <a href="@Model.PreviousPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.PreviousPageUrl) ? "disabled" : "")" title="Previous page">
                            <span class="icon-left-arrow"></span>
                            <span class="icon-label-hidden">Previous page</span>
                        </a>
                        <input type="text" pattern="\d*" name="Page" value="@Model.Page" /> of <span class="total">@Model.TotalPages.ToString("N0")</span>
                        <a href="@Model.NextPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.NextPageUrl) ? "disabled" : "")" title="Next page">
                            <span class="icon-label-hidden">Next page</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="options">
                    <div class="viewtype">
                        View type 
                        <span class="buttongroup">
                            <a href="@Model.GridViewButton.Url" class="button first icon-grid @(Model.GridViewButton.Active ? "active" : "")" title="Grid View"></a><a href="@Model.ListViewButton.Url" class="button icon-list @(Model.ListViewButton.Active ? "active" : "")" title="List view with images"></a><a href="@Model.DataViewButton.Url" class="button last icon-data @(Model.DataViewButton.Active ? "active" : "")" title="List view with no images"></a>
                        </span>
                    </div>
                    <div class="order">
                        Order by
                        <span>
                        @if (Model.Queries.Any())
                        {
                            <a href="@Model.RelevanceSortButton.Url" class="button first @(Model.RelevanceSortButton.Active ? "active" : "")" title="Order by search relevance descending">@Model.RelevanceSortButton.Name</a><a href="@Model.QualitySortButton.Url" class="button  @(Model.QualitySortButton.Active ? "active" : "")" title="Order by record quality descending">@Model.QualitySortButton.Name</a><a href="@Model.DateSortButton.Url" class="button last @(Model.DateSortButton.Active ? "active" : "")" title="Order by date modified descending">@Model.DateSortButton.Name</a>
                        }
                        else
                        {
                            <a href="@Model.QualitySortButton.Url" class="button first @(Model.QualitySortButton.Active ? "active" : "")" title="Order by record quality descending">@Model.QualitySortButton.Name</a><a href="@Model.DateSortButton.Url" class="button last @(Model.DateSortButton.Active ? "active" : "")" title="Order by date modified descending">@Model.DateSortButton.Name</a>
                        }
                        </span>
                    </div>
                    <div class="perpage">
                        Results per page
                        <a href="@Model.DefaultPerPageButton.Url" class="button first @(Model.DefaultPerPageButton.Active ? "active" : "")" title="@Constants.PagingPerPageDefault records per page">@Model.DefaultPerPageButton.Name</a><a href="@Model.MaxPerPageButton.Url" class="button last @(Model.MaxPerPageButton.Active ? "active" : "")" title="@Constants.PagingPerPageMax records per page">@Model.MaxPerPageButton.Name</a>
                    </div>
                </div>
            </div>    
            <div id="maincontent" class="results-area @(Model.ListViewButton.Active ? "list" : "")@(Model.GridViewButton.Active ? "grid" : "")@(Model.DataViewButton.Active ? "data" : "") ">
                @foreach (var result in Model.Results)
                {
                    @Html.Partial("emutile", result)
                }
            </div>
            <div class="pagination">
                <div class="numbers">
                    <div class="counts">@Model.TotalResults.ToString("N0") results</div>
                    <div class="pages">
                        <a href="@Model.PreviousPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.PreviousPageUrl) ? "disabled" : "")" title="Previous page">
                            <span class="icon-left-arrow"></span>
                            <span class="icon-label-hidden">Previous page</span>
                        </a>
                        <input type="text" pattern="\d*" name="Page" value="@Model.Page" /> of <span class="total">@Model.TotalPages.ToString("N0")</span>
                        <a href="@Model.NextPageUrl" class="button @(string.IsNullOrWhiteSpace(@Model.NextPageUrl) ? "disabled" : "")" title="Next page">
                            <span class="icon-label-hidden">Next page</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div id="maincontent" class="noresults">
                <div class="pagination">
                    <div class="numbers">
                        <div class="counts">@Model.TotalResults.ToString("N0") results</div>
                    </div>
                </div>
                <h1>Sorry, we have no results for this set of search terms.</h1>
                <p>You can broaden your search by clicking the small 'x' to remove a search term.</p>
                <p class="prelist">We have some 17 million items in our collections. Not all of them are online yet, but we're working on it.</p>
                <p>Read more about <a href="collections/">our collections</a></p>
                <p class="prelist">You could also try:</p>
                <ul>
                    <li>a different spelling</li>
                    <li>more general words</li>
                    <li>different words that mean the same thing</li>
                </ul>
            </div>
        }
    </div>
</div>