@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.Core.Models.Taxonomy>
@if (Model != null)
{
    if (!string.IsNullOrWhiteSpace(Model.Kingdom))
    {
        <li>
            <h3>Kingdom</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Kingdom)">@Model.Kingdom</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Phylum))
    {
        <li>
            <h3>Phylum</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Phylum)">@Model.Phylum</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Subphylum))
    {
        <li>
            <h3>Subphylum</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Subphylum)">@Model.Subphylum</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Superclass))
    {
        <li>
            <h3>Superclass</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Superclass)">@Model.Superclass</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Class))
    {
        <li>
            <h3>Class</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Class)">@Model.Class</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Subclass))
    {
        <li>
            <h3>Subclass</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Subclass)">@Model.Subclass</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Superorder))
    {
        <li>
            <h3>Superorder</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Superorder)">@Model.Superorder</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Order))
    {
        <li>
            <h3>Order</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Order)">@Model.Order</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Suborder))
    {
        <li>
            <h3>Suborder</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Suborder)">@Model.Suborder</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Infraorder))
    {
        <li>
            <h3>Infraorder</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Infraorder)">@Model.Infraorder</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Superfamily))
    {
        <li>
            <h3>Superfamily</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Superfamily)">@Model.Superfamily</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Family))
    {
        <li>
            <h3>Family</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Family)">@Model.Family</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Subfamily))
    {
        <li>
            <h3>Subfamily</h3>
            <p><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Subfamily)">@Model.Subfamily</a></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Genus))
    {
        <li>
            <h3>Genus</h3>
            <p><em><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Genus)">@Model.Genus</a></em></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Subgenus))
    {
        <li>
            <h3>Subgenus</h3>
            <p><em><a href="/search?taxon=@HttpUtility.UrlEncode(Model.Subgenus)">@Model.Subgenus</a></em></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Species))
    {
        <li>
            <h3>Species Name</h3>
            <p><em>@Model.Species</em></p>
        </li>
    }
    if (!string.IsNullOrWhiteSpace(Model.Subspecies))
    {
        <li>
            <h3>Subspecies</h3>
            <p><em>@Model.Subspecies</em></p>
        </li>
    }
}