@using CollectionsOnline.WebApi.Metadata
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<WebapiMetadata>>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collections Online API</title>
    </head>
    <body>
        @foreach (var metadata in @Model)
        {
            <div>
                <h2>@metadata.Method</h2>
                <h2>@metadata.Path</h2>
                
                @if (!string.IsNullOrEmpty(metadata.Description))
                {
                    <strong>Description</strong>
                    <p>@metadata.Description</p>
                }
                
                @if (metadata.Parameters != null)
                {
                    <strong>Parameters</strong>
                    <table>
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var parameter in metadata.Parameters)
                            {
                                <tr>
                                    <td>@parameter.Item1</td>
                                    <td>@parameter.Item2</td>
                                    <td>@parameter.Item3</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                
                @if (metadata.StatusCodes != null)
                {
                    <strong>Valid response status codes</strong>
                    <table>
                        <thead>
                            <tr>
                                <th>HTTP status code</th>
                                <th>Name</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var statusCode in metadata.StatusCodes)
                            {
                                <tr>
                                    <td>@((int) statusCode.Key)</td>
                                    <td>@statusCode.Key</td>
                                    <td>@statusCode.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                
                @if (!string.IsNullOrEmpty(metadata.SampleResponse))
                {
                    <strong>Sample Response</strong>
                    <pre>@metadata.SampleResponse</pre>
                }

                @if (!string.IsNullOrEmpty(metadata.ExampleUrl))
                {
                    <strong>Example URL</strong>
                    <a href="@metadata.ExampleUrl">@metadata.ExampleUrl</a>
                }
            </div>
        }
    </body>
</html>