@using CollectionsOnline.Core.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Features.Articles.ArticleViewTransformerResult>
@{
    Layout = "layout.cshtml";
}
<div class="container no-nav">
    <div class="row">
        <div class="col-md-12">
            <div class="record">
                <div class="title">
                    <h1>
                        @Model.Article.Title<br />
                        @foreach (var type in @Model.Article.Types)
                        {
                            <a href="/search?articletypes=@HttpUtility.UrlEncode(type.ToLower())">@type</a><br />
                        }
                    </h1>
                </div>

                <div class="images">
                    @{
                        var imageMedia = Model.Article.Media.Where(x => x is ImageMedia).Cast<ImageMedia>().ToList();
                        for (int i = 0; i < imageMedia.Count; i++)
                        {
                            if (i == 0)
                            {
                                <img src="@imageMedia[i].Medium.Uri" width="@imageMedia[i].Medium.Width" height="@imageMedia[i].Medium.Height" class="img-rounded center-block" />
                            }
                            else
                            {
                                <img src="@imageMedia[i].Thumbnail.Uri" width="100" height="100" class="img-thumbnail" />
                            }
                        }
                    }
                </div>

                <div class="main-content">
                    @if (!string.IsNullOrWhiteSpace(Model.Article.ContentSummary))
                    {
                        <h4>Summary</h4>
                        @Html.Raw(Model.Article.ContentSummary)
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Article.Content))
                    {
                        @Html.Raw(Model.Article.Content)
                    }
                </div>

                @if (Model.Article.Keywords.Any())
                {
                    <div>
                        <dl>
                            <dt>Keywords</dt>
                            <dd>
                                @for (int i = 0; i < Model.Article.Keywords.Count; i++)
                                {
                                    <a href="/search?keyword=@HttpUtility.UrlEncode(Model.Article.Keywords[i])">@Model.Article.Keywords[i]</a>@(i != Model.Article.Keywords.Count - 1 ? ", " : "")
                                }
                            </dd>
                        </dl>
                    </div>
                }

                @if (Model.ChildArticles.Any() || Model.ParentArticle != null)
                {
                    <div class="related-articles">
                        <h4>Related Articles</h4>
                        @if (Model.ParentArticle != null)
                        {
                            <a href="/@Model.ParentArticle.Id">
                                @if (!string.IsNullOrWhiteSpace(Model.ParentArticle.ThumbnailUri))
                                {
                                    <img src="@Model.ParentArticle.ThumbnailUri" width="100" height="100" class="img-thumbnail" />
                                }
                                <span>@Model.ParentArticle.Title</span>
                            </a>
                            <br/>
                        }
                        @foreach (var childArticle in @Model.ChildArticles)
                        {
                            <a href="/@childArticle.Id">
                                @if (!string.IsNullOrWhiteSpace(childArticle.ThumbnailUri))
                                {
                                    <img src="@childArticle.ThumbnailUri" width="100" height="100" class="img-thumbnail" />
                                }
                                <span>@childArticle.Title</span>
                            </a>
                            <br/>
                        }
                    </div>
                }
                
                @if (Model.RelatedArticles.Any())
                {
                    <div class="related-articles">
                        <h4>Associated Articles</h4>
                        @foreach (var relatedArticle in Model.RelatedArticles)
                        {
                            <a href="/@relatedArticle.Id">
                                @if (!string.IsNullOrWhiteSpace(relatedArticle.ThumbnailUri))
                                {
                                    <img src="@relatedArticle.ThumbnailUri" width="100" height="100" class="img-thumbnail" />
                                }
                                <span>@relatedArticle.Title</span>
                            </a>
                            <br/>
                        }
                    </div>
                }

                @if (Model.RelatedItems.Any() || Model.RelatedSpecimens.Any())
                {
                    <div class="related-items">
                        <h4>Related Items</h4>
                        @foreach (var relatedItem in Model.RelatedItems)
                        {
                            <a href="/@relatedItem.Id">
                                @if (!string.IsNullOrWhiteSpace(relatedItem.ThumbnailUri))
                                {
                                    <img src="@relatedItem.ThumbnailUri" width="100" height="100" class="img-thumbnail" />
                                }
                                <span>@relatedItem.Title</span>
                            </a>
                            <br/>
                        }
                        @foreach (var relatedSpecimen in Model.RelatedSpecimens)
                        {
                            <a href="/@relatedSpecimen.Id">
                                @if (!string.IsNullOrWhiteSpace(relatedSpecimen.ThumbnailUri))
                                {
                                    <img src="@relatedSpecimen.ThumbnailUri" width="100" height="100" class="img-thumbnail" />
                                }
                                <span>@relatedSpecimen.Title</span>
                            </a>
                            <br/>
                        }
                    </div>
                }
                
                @if (Model.RelatedItemSpecimenCount > 0)
                {
                    <div>
                        <h4>
                            <a href="/search?article=@Model.Article.Title">See all items/specimens (@Model.RelatedItemSpecimenCount) </a>
                        </h4>
                    </div>
                }
                
                @if (Model.Article.Authors.Any())
                {
                    <div class="authors">Authors</div>
                    foreach (var author in @Model.Article.Authors)
                    {
                        <div>
                            @if (author.ProfileImage != null)
                            {
                                <img src="@author.ProfileImage.Thumbnail.Uri" width="100" height="100" class="img-thumbnail" />
                            }
                            <h4>@author.Name</h4>
                            <p>@author.Biography</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>