@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Features.Articles.ArticleViewModel>
@{
    Layout = "layout.cshtml";
}
<div class="container no-nav">
    <div class="row">
        <div class="col-md-12">
            <div class="record panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">@Model.Article.Title</h1>
                </div>
                <div class="panel-body">
                    <div class="images">
                        @for (int i = 0; i < Model.Article.Media.Count; i++)
                        {
                            if (i == 0)
                            {
                                <img src="@Model.Article.Media[i].Url" width="350" height="350" class="img-rounded center-block" />
                            }
                            else
                            {
                                <img src="@Model.Article.Media[i].Url" width="100" height="100" class="img-thumbnail" />
                            }
                        }
                    </div>
                    <div class="summary">
                        @if (!string.IsNullOrWhiteSpace(@Model.Article.Content))
                        {
                            @Html.Raw(Model.Article.Content)
                        }
                    </div>
                    <dl class="detailed dl-horizontal">
                        <dt>Date Modified</dt>
                        <dd>@Model.Article.DateModified</dd>
                        @if (Model.Article.Tags.Any() || Model.Article.GeographicTags.Any())
                        {
                            <dt>Tags</dt>
                            <dd>
                                @foreach (var tag in @Model.Article.Tags)
                                {
                                    <a href="/search?tag=@HttpUtility.UrlEncode(tag)">@tag</a>
                                }
                                @foreach (var geographicTag in @Model.Article.GeographicTags)
                                {
                                    <a href="/search?tag=@HttpUtility.UrlEncode(geographicTag)">@geographicTag</a>
                                }
                            </dd>
                        }
                        @if (Model.Article.Types.Any())
                        {
                            <dt>Types</dt>
                            <dd>
                                @foreach (var type in @Model.Article.Types)
                                {
                                    <span>@type</span>
                                }
                            </dd>
                        }
                        @if (Model.Article.Authors.Any())
                        {
                            <dt>Authors</dt>
                            <dd>
                                @foreach (var author in @Model.Article.Authors)
                                {
                                    <div>
                                        <span>@author.Name</span>
                                        <span>@author.Biography</span>
                                    </div>
                                }
                            </dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Article.ParentArticleId))
                        {
                            <dt>Parent Article</dt>
                            <dd><a href="/@Model.Article.ParentArticleId">@Model.Article.ParentArticleId</a></dd>
                        }
                        @if (Model.Article.ChildArticleIds.Any())
                        {
                            <dt>Child Articles</dt>
                            <dd>
                                @foreach (var childArticleId in @Model.Article.ChildArticleIds)
                                {
                                    <a href="/@childArticleId">@childArticleId</a>
                                }
                            </dd>
                        }
                        @if (Model.Article.RelatedArticleIds.Any())
                        {
                            <dt>Related Articles</dt>
                            <dd>
                                @foreach (var relatedArticleId in @Model.Article.RelatedArticleIds)
                                {
                                    <a href="/@relatedArticleId">@relatedArticleId</a>
                                }
                            </dd>
                        }
                        @if (Model.Article.RelatedItemIds.Any())
                        {
                            <dt>Related Items</dt>
                            <dd>
                                @foreach (var relatedItemId in @Model.Article.RelatedItemIds)
                                {
                                    <a href="/@relatedItemId">@relatedItemId</a>
                                }
                            </dd>
                        }                                                             
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>