@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "layout.cshtml";
}
<form method="GET" action="/search">
    <label for="query">Query</label>
    <input type="text" name="query" />
</form>

<div>
    TotalResults: @Model.TotalResults
    Limit: @Model.Limit
    Offset: @Model.Offset
</div>

<div class="facets">
    @foreach (var facet in Model.Facets)
    {
        <div>
            <h4>@facet.Name</h4>
            @foreach (var value in facet.Values)
            {
                <div>
                    <a href="@value.Value">@value.Key</a>
                </div>
            }
        </div>
    }       
</div>
<ul class="results">
    @foreach (var result in Model.Results)
    {
        <li>
            <h4>@result.Result.Name</h4>
            <div>Id: @result.Result.Id, Type: @result.Result.Type</div>
        </li>
    }
</ul>