@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "layout.cshtml";
}
<form method="GET" action="/search">
    <label for="query">Query</label>
    <input type="text" name="query" />
</form>

<div class="stats">
    TotalResults: @Model.TotalResults
    Limit: @Model.Limit
    Offset: @Model.Offset
    Time Elapsed: @Model.ElapsedMilliseconds ms
</div>

<div class="active-facets">    
    @foreach (var activeFacet in Model.ActiveFacets)
    {
        <a href="@activeFacet.Url">@activeFacet.Facet : @activeFacet.Name</a>
    }
    @foreach (var activeTerms in Model.ActiveTerms)
    {
        <a href="@activeTerms.Url">@activeTerms.Term : @activeTerms.Name</a>
    }
</div>

<div class="facets">
    @foreach (var facet in Model.Facets)
    {
        <div>
            <h4>@facet.Name</h4>
            @foreach (var value in facet.Values)
            {
                <div>
                    <a href="@value.Url">@value.Name (@value.Hits)</a>
                    @if (value.Active)
                    {
                        <span>Active</span>
                    }
                </div>
            }
        </div>
    }       
</div>
<ul class="results">
    @foreach (var result in Model.Results)
    {
        <li>
            <h4>@result.Result.Name</h4>
            <div>Id: @result.Result.Id, Type: @result.Result.Type</div>
            <div>
                @foreach (var term in result.Terms)
                {
                    <div>
                        @term.Term <a href="@term.Url">@term.Name</a>
                    </div>
                }
            </div>
        </li>
    }
</ul>